.results-container {
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.book-item {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  transition: all 0.2s ease;
}

.book-item:hover {
  background-color: #f3f3f3;
}

.book-cover {
  width: 80px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.book-details {
  flex: 1;
  text-align: left;
}

.book-details strong {
  font-size: 16px;
  color: #333;
}

.book-author-publisher {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
}

.divider {
  margin: 0 10px;
  color: #ddd;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit; /* 기본 텍스트 색상 유지 */
}

a:visited {
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

.book-price {
  margin-top: 10px;
  display: table;
  width: 100%;
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.price-table th,
.price-table td {
  text-align: center;
  padding: 8px 10px;
  border: 1px solid #ddd;
}

.price-table th {
  background-color: #f1f1f1;
  color: #000;
}

.price-table td {
  font-size: 12px;
}

.price-table td.price {
  font-size: 12.5px;
  font-weight: bold;
}

.price-header-link:hover {
  text-decoration: underline;
}

.price-header-link.disabled:hover {
  text-decoration: none !important;
}

.price-header-link {
  color: #000;
  text-decoration: none;
}

.price-header-link,
th {
  color: inherit;
  text-decoration: none;
}
/* 가격 있는 링크 호버 시 언더라인 */
.price a:hover {
  text-decoration: underline;
}

/* 링크가 없을 때 스타일 */
.disabled-link {
  text-decoration: none !important;
  cursor: text;
}
